venv/
__pycache__/
*.pyc
*.pyo
*.pyd
1. Dataset/get_data/output/
2. Target/form_target/output/

btcusdt_5m_final_with_targets.csv
2. Target/form_target/btcusdt_5m_with_horizons.csv
.cursor
catboost_info
baselines/__pycache__
