# Based
venv/
__pycache__/

# Large datasets and outputs
*.pyc
*.pyo
*.pyd
*.csv
*.png
*.jpeg
1. Dataset/get_data/output/
2. Target/form_target/output/
strategy/output/
feature_selection/output/

# Other
.cursor
catboost_info

