venv/
__pycache__/
*.pyc
*.pyo
*.pyd
1. Dataset/get_data/output/
2. Target/form_target/output/
strategy/output/
feature_selection/output/

btcusdt_5m_final_with_targets.csv
.cursor
catboost_info
baselines/__pycache__
